@function rem($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}

$primary: #333;
$secondary: rgb(201, 23, 23);
$accent: yellow;
$white: #fff;
$containerWidth: rem(1200);
$headerHeight: 60px;