@function rem($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}

$black: #000;
$white: #fff;
$gray: #9B9B9B;
$gray-light: #F6F6F6;
$gray-dark: #333;

$primary: $black;
$secondary: #F01C25;
$accent: #FECF2F;

$containerWidth: rem(1200);
$headerHeight: 60px;